<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>H5小游戏大全</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="page-container">
    <ul class="demo-list">
      <li class="item">
        <a href="/games/mine">&gt; 经典扫雷</a>
      </li>
      <li class="item">
        <a href="/games/xxk">&gt; 消消看</a>
      </li>
      <li class="item">
        <a href="/games/snake">&gt; 经典贪吃蛇</a>
      </li>
      <li class="item">
        <a href="/games/pintu">&gt; 经典拼图</a>
      </li>
      <li class="item">
        <a href="/games/sudoku">&gt; 数独</a>
      </li>
      <li class="item">
        <a href="/games/2048">&gt; 2048</a>
      </li>
      <li class="item">
        <a href="/games/llk">&gt; 经典连连看</a>
      </li>
      <li class="item">
        <a href="/games/wzq">&gt; 人机大战五子棋</a>
      </li>
    </ul>
  </div>
</body>
</html>