* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-wrapper {
  max-width: 480px;
  margin: auto;
  margin-top: 16px;
  user-select: none;
}

.game-wrapper canvas.game-ui {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}