* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

body {
  background-color: #eee;
}

.container {
  max-width: 480px;
  margin: auto;
  border: 1px solid #848484;
  border-radius: 4px;
  box-shadow: #666 0 0 15px inset;
}

.container .title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #212121;
  letter-spacing: .2em;
  background-color: rgba(0,0,0,.12);
  text-align: center;
}

.container .images {
  padding: 4px;
  border-bottom: 1px solid #848484;
}

.container .images img {
  float: left;
  width: 80px;
  height: 80px;
}

.game-wrapper canvas.game-ui {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}